<?xml version="1.0" encoding="utf-8"?>
     <configuration>
     <system.webServer>
       <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\ProjectSplit\env\Scripts\python.exe|E:\ProjectSplit\env\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
       </handlers>
        <rewrite>
            <rules>
                <rule name="Host Header Validation" stopProcessing="true">
                    <match url="." />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^([a-zA-Z0-9-_]+.)resumematching-uat.zensar.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://resumematching-uat.zensar.com" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000" />
            </customHeaders>
        </httpProtocol>
	<httpRuntime enableVersionHeader="false" />
     </system.webServer>
     <appSettings>
       <!-- Required settings -->
       <add key="WSGI_HANDLER" value="demoDb.app" />
       <add key="PYTHONPATH" value="E:\ProjectSplit" />
     </appSettings>
     </configuration>